@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-primary: #2563eb;
  --color-secondary: #64748b;
  --color-dark: #0f172a;
  
  --font-family-sans: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-background);
  color: #1e293b;
}
